<div class="card-body">
    <h5 *ngIf="title" class="card-title">{{title}}</h5>
    <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of the card's content.
        <rg-render-buffer></rg-render-buffer>
    </p>
    <div class="d-flex">
        <button class="btn btn-primary mr-2">Play</button>
        <button [disabled]="true" class="btn btn-primary">Restart</button>
        <button [disabled]="true" class="btn btn-primary ml-auto">Stop</button>
    </div>
</div>
