<div class="card-body">
    <h5 *ngIf="title" class="card-title">{{title}}</h5>
    <p class="card-text">
        <rg-render-buffer [class.block-cursor]="block"
                          [class.light-cursor]="light"
                          [buffer]="buffer$ | async"></rg-render-buffer>
    </p>
    <div class="d-flex">
        <ng-container *ngIf="playing$ | async; else stopped">
            <ng-container *ngIf="paused$ | async; else notPaused">
                <button class="btn btn-info mr-2" (click)="resume()">Resume</button>
            </ng-container>
            <ng-template #notPaused>
                <button class="btn btn-info mr-2" (click)="pause()">Pause</button>
            </ng-template>
            <button class="btn btn-outline-dark ml-auto" (click)="stop()">Stop</button>
        </ng-container>
        <ng-template #stopped>
            <button class="btn btn-primary mr-2" (click)="play()">Play</button>
        </ng-template>
    </div>
</div>
