<div class="container pt-5 pb-5">
    <div class="jumbotron">
        <h1 class="display-4">Animated Typing</h1>
        <p class="lead">
            This library animates the drawing of text so that it appears to be typed by a person.
        </p>
        <a class="btn btn-primary btn-lg" href="//github.com/reactgular/rg-animated-typing" role="button">
            View on GitHub
        </a>
    </div>

    <rg-example-simple class="d-block mb-5"></rg-example-simple>
    <rg-example-async class="d-block mb-5"></rg-example-async>
    <rg-example-insert class="d-block"></rg-example-insert>
</div>
