<div class="container pt-5 pb-5">
    <div class="jumbotron">
        <h1 class="display-4">TypewriterJs</h1>
        <p class="lead">
            Angular component library for animating the drawing of text so that it appears to be typed by a person.
        </p>
        <a class="btn btn-primary btn-lg"
           href="//github.com/typewriterjs/typewriterjs-angular"
           role="button">
            View on GitHub
        </a>
    </div>

    <rg-example-simple class="d-block mb-5"></rg-example-simple>
    <rg-example-async class="d-block mb-5"></rg-example-async>
    <rg-example-insert class="d-block mb-5"></rg-example-insert>
    <rg-example-html class="d-block"></rg-example-html>
</div>
